<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<!-- <div class="login100-form-title" style="background-image: url(https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/images/bg-02.png);">	 -->
					<div class="login100-form-title" style="background-image: url(https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/images/bg-03.png);">	
					<span class="login100-form-title-1">
						&nbsp;
					</span>
				</div>
				{{ if .Error }}
      				<div class="error">{{ .Error }}</div>
      				<!-- Error code: {{ .ErrorCode }} -->
    			{{ end }}
				<!-- <form class="login100-form validate-form"> -->
				<form class="login100-form validate-form" action="{{ .Action }}" method="POST">
					<input type="hidden" name="{{ .Names.Then }}" value="{{ .Values.Then }}">
      				<input type="hidden" name="{{ .Names.CSRF }}" value="{{ .Values.CSRF }}">
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Username</span>
							<!-- <input class="input100" type="text" name="username" placeholder="Enter username"> -->
							<input class="input100" id="inputUsername" name="{{ .Names.Username }}" value="{{ .Values.Username }}" type="text" name="username" placeholder="Enter username">
							<!-- <input class="input100" id="inputUsername" name="{{ .Names.Username }}"  type="text" name="username" placeholder="Enter username"> -->
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<!-- <input class="input100" type="password" name="pass" placeholder="Enter password"> -->
							<input class="input100" type="password" id="inputPassword" name="{{ .Names.Password }}" placeholder="Enter password">
							<span class="focus-input100"></span>
						</div>

					<!--  Remove Remember Me and Forget Password
						<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div> -->

					<div class="container-login100-form-btn">
						<!-- <button class="login100-form-btn"> -->
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/bootstrap/js/popper.js"></script>
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/daterangepicker/moment.min.js"></script>
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://ocp-demo.gitlab.io/openshift-custom-console/custom-login/js/main.js"></script>

</body>
</html>
